@model IssueWithAllSystems

@{
    ViewBag.Title = "Create Issue";
    Layout = "_Layout";
}

<h2>Create Issue</h2>

@using (Html.BeginForm())    
{    
    @Html.AntiForgeryToken()    
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Issue.Id) 
        <div class="form-group">
            @Html.LabelFor(model => model.Issue.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Issue.Description, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Issue.IsAccepted, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-1">
                @Html.EditorFor(model => model.Issue.IsAccepted, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Issue.IsFixed, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-1">
                @Html.EditorFor(model => model.Issue.IsFixed, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Issue.System, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Issue.SystemId, Model.Systems, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success"/>
            </div>
        </div>
    </div>    
}      
    
<div>    
    @Html.ActionLink("Back to List", "Index")    
</div>
